
body {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #FFFFFF;
    position:static ;
}

.background-picture {
    background-image: url("../img/background-dandelion.png");
    background-repeat: no-repeat;
    background-position: center top;
    background-size: contain;
    width: 798px;
    height: 697px;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    z-index: -1;
}

.all-elements {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0  auto;
}

.product-selection_title {
    font-weight: 400;
    font-size: 70px;
    color: #515076;
    margin:  100px auto;
    text-align: center;
    width: 1110px;
    white-space: nowrap;
}

.product-card-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
    width: 1100px;
    margin: 0 auto;
}

.product-card {
    background-color: #F7F7FA;
    border: 1px solid #E0E0E0;
    padding: 25px;
    width: 340px;
    min-height: 573px;
    box-sizing: border-box;
}

.product-card_img {
    width: 290px;
    height: 245px;
    object-fit: contain;
    margin-bottom: 20px;
}

.product-card_for-skin {
    display: block;
    font-size: 14px;
    white-space: nowrap;
    margin-bottom: 10px;
}

.product-card_title {
    display: block;
    font-weight: 700;
    font-size: 18px;
    margin-bottom: 10px;
}

.product-card_desc {
    height: 60px;
    font-size: 14px;
    line-height: 1.4;
    margin-bottom: 15px;
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
}

.product-card_composition {
    font-weight: 600;
    font-size: 14px;
    margin-top: auto;
}

.list {
    padding-left: 20px;
    margin: 10px 0 20px 0;
}

.product-card_item {
    font-size: 14px;
    line-height: 1.5;
}

.product-card_price_wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-top: 10px;
}

.product-card_price-value {
    font-weight: 700;
    font-size: 18px;
}

.red-bg {
    color: red !important;
}